.module.dnd {
    ul {
      width: 100%;
    }
    li {
      .timestamp {
        box-sizing: border-box;
        padding:0.2em 1em;
        display: block;
        width: 100%;
        font-size: 0.8em;
        font-weight: bold;
        background: #666!important;
      }
      position: relative;
      display: inline-block;
      cursor:pointer;
      font-size: 2em;
      width: 49.7%;
      margin-bottom: 1px;
      text-align: center;
      vertical-align: middle;
      transition: background-color 2s;
      background-color: #4c4c4c;
      &:hover {
        background-color: #3c3c3c;
        transition: background-color 0.5s;
    }
      .message {
        box-sizing:border-box;
        width: 100%;
        display: block;
        padding: 0.5em 0.5%;
      }
      &.free span {
        background-color: #09a201;
      }
      &.busy span {
        background-color: #f68e56;
      }
      &.dnd span {
        background-color: #d12312;
      }
      &.ooo span {
        background-color: #555;
      }
      &.done {
        color: #888;
        img {
          opacity: 0.5;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        span {
          background-color: #555;
          color: #888;
        }
      }
      h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      img {
        width: 60%;
        padding: 5% 20% 0;
        height: auto;
      }
    }
    form {
      position: absolute;
      z-index: 999;
      width: 50%;
      background-color: #222;
      padding: 20px;
      top: 50%;
      margin-top: -50px;
      left: 27%;
      text-align: center;
      box-shadow: 0px 0px 15px #000;
      legend {
        font-size: 3em;
        margin-bottom: 1em;
      }
      label {
        font-size: 2em;
        margin-right: 0.5em;
        margin-bottom: 5px;
      }
      select {
        font-size: 1.8em;
        font-weight: bold;
        padding-left: 0.5em;
        padding-right: 1.5em;
        margin-right: 0.5em;
        background: white url("/static/images/drop-arrow.gif") no-repeat 90% 50%;
      }
      .submit {
        background-color: green;
        margin-top: 10px;
        &:hover {
          background-color: #004d00;
        }
      }
      .cancel {
        background-color: #d12312;
        &:hover {
          background-color: #a21b0e;
        }
      }
      .submit, .cancel {
        border: 0;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.2em 0.5em;
        font-size: 1.5em;
        border-radius: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    &.quickstatus {
      width: 100%;
      ul {
        display: table;
      }
      li {
        display: table-row;
        .cell {
          display: table-cell;
        }
        &.free .status {
          background-color: #09a201;
        }
        &.busy .status {
          background-color: #f68e56;
        }
        &.dnd .status {
          background-color: #d12312;
        }
        &.ooo .status {
          background-color: #555;
        }
        &.done .status {
          background-color: #555;
          color: #ccc;
        }
        span {
          position: static;
          display: block;
          height: 100%;
          width: 100%;
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }
