.module.sitetest {
    width: 99.6%;
    background-color: #5c5c5c;
    margin-bottom: 2px;
    ul {
        li {
            font-size: 1.3em;
            padding:3px 1em 3px 3px;
            float: left;
            display: block;
            background-color: #4a4a4a;
            margin: 5px;
            &.red { background-color: #ff0033 }

            img {
                vertical-align: middle;
                margin-right: 10px;
            }

        }
    }
}

.site-alert {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    min-height: 100%;
    max-height: 100%;
    background-color: red;
    color: #fff;
    font-size: 7em;
    padding:20%;
    text-align: center;
    box-sizing:border-box;

    .timer {
        display: block;
        font-size: 0.6em;
        margin-top: 1em;
    }
}
