$brand: #d12531;
$brand50: lighten( $brand, 50%);
$brand25: lighten( $brand, 25%);
$brand10: lighten( $brand, 10%);
$brand5: lighten( $brand, 5%);

$darkGrey: #333;
$mediumGrey: #666;
$lightGrey: #ccc;
$offWhite: #f1f1f1;

/* The classes below are not to be used in Markup, they are for sass imports only */

.extraBold { font-weight: 600; }
.black { font-weight: 900; }

