/* This is where all global classes are held, use of !important is ONLY permitted on this page */

/* Common classes */
.hide { display: none !important; }
.fl { float: left !important; }
.fr { float: right !important; }
.clear { clear: both; }

/* Grid */
.col {
    display: inline-block;
    vertical-align: top;
}
.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-33 { width: 33%; }
.col-37 { width: 37%; }
.col-66 { width: 66%; }
.col-50 { width: 50%; }
