/* This is where all custom styles are held */

/* Global styles */

body {
    font-family: 'Lato', sans-serif;
    background-color: #333333;
    color: #fff;
}
header {
    background-color: #555;
    padding:0.5em;
    text-align: center;
    margin-bottom: 2px;
}
.grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .column {
        width: 50%;
        float: left;
        flex-grow: 1;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }

    .module {
      flex-grow: 1;
      -webkit-flex-grow: 1;
      float: left;
      box-sizing: border-box;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
}

// Musdash has a lot of modules. Include the CSS for them here
@import "modules/dnd.scss";
@import "modules/clock.scss";
@import "modules/servercheck.scss";
