/* Modified YUI2 Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

a {
  text-decoration: none;
  outline: none; }

abbr, acronym {
  border: 0; }

input, textarea {
  -webkit-appearance: none; }

header, article, section, nav, figure, aside, hgroup, footer {
  display: block; }

body, html {
  height: 100%; }

html, html a {
  -webkit-font-smoothing: antialiased !important; }

select {
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

body {
  font-size: 62.5%; }

/* Any text inside a paragraph should be formatted normally */
p strong {
  font-weight: bold; }

p em {
  font-style: italic; }

/* The classes below are not to be used in Markup, they are for sass imports only */
.extraBold {
  font-weight: 600; }

.black {
  font-weight: 900; }

/* This is where all global classes are held, use of !important is ONLY permitted on this page */
/* Common classes */
.hide {
  display: none !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.clear {
  clear: both; }

/* Grid */
.col {
  display: inline-block;
  vertical-align: top; }

.col-10 {
  width: 10%; }

.col-20 {
  width: 20%; }

.col-25 {
  width: 25%; }

.col-33 {
  width: 33%; }

.col-37 {
  width: 37%; }

.col-66 {
  width: 66%; }

.col-50 {
  width: 50%; }

/* This is where all custom styles are held */
/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  background-color: #333333;
  color: #fff; }

header {
  background-color: #555;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 2px; }

.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  width: 50%;
  float: left;
  flex-grow: 1;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.module {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  float: left;
  box-sizing: border-box;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.module.dnd ul {
  width: 100%; }
.module.dnd li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 2em;
  width: 49.7%;
  margin-bottom: 1px;
  text-align: center;
  vertical-align: middle;
  transition: background-color 2s;
  background-color: #4c4c4c; }
  .module.dnd li .timestamp {
    box-sizing: border-box;
    padding: 0.2em 1em;
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    background: #666 !important; }
  .module.dnd li:hover {
    background-color: #3c3c3c;
    transition: background-color 0.5s; }
  .module.dnd li .message {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0.5em 0.5%; }
  .module.dnd li.free span {
    background-color: #09a201; }
  .module.dnd li.busy span {
    background-color: #f68e56; }
  .module.dnd li.dnd span {
    background-color: #d12312; }
  .module.dnd li.ooo span {
    background-color: #555; }
  .module.dnd li.done {
    color: #888; }
    .module.dnd li.done img {
      opacity: 0.5;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }
    .module.dnd li.done span {
      background-color: #555;
      color: #888; }
  .module.dnd li h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em; }
  .module.dnd li img {
    width: 60%;
    padding: 5% 20% 0;
    height: auto; }
.module.dnd form {
  position: absolute;
  z-index: 999;
  width: 50%;
  background-color: #222;
  padding: 20px;
  top: 50%;
  margin-top: -50px;
  left: 27%;
  text-align: center;
  box-shadow: 0px 0px 15px #000; }
  .module.dnd form legend {
    font-size: 3em;
    margin-bottom: 1em; }
  .module.dnd form label {
    font-size: 2em;
    margin-right: 0.5em;
    margin-bottom: 5px; }
  .module.dnd form select {
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 1.5em;
    margin-right: 0.5em;
    background: white url("/static/images/drop-arrow.gif") no-repeat 90% 50%; }
  .module.dnd form .submit {
    background-color: green;
    margin-top: 10px; }
    .module.dnd form .submit:hover {
      background-color: #004d00; }
  .module.dnd form .cancel {
    background-color: #d12312; }
    .module.dnd form .cancel:hover {
      background-color: #a21b0e; }
  .module.dnd form .submit, .module.dnd form .cancel {
    border: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    font-size: 1.5em;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; }
.module.dnd.quickstatus {
  width: 100%; }
  .module.dnd.quickstatus ul {
    display: table; }
  .module.dnd.quickstatus li {
    display: table-row; }
    .module.dnd.quickstatus li .cell {
      display: table-cell; }
    .module.dnd.quickstatus li.free .status {
      background-color: #09a201; }
    .module.dnd.quickstatus li.busy .status {
      background-color: #f68e56; }
    .module.dnd.quickstatus li.dnd .status {
      background-color: #d12312; }
    .module.dnd.quickstatus li.ooo .status {
      background-color: #555; }
    .module.dnd.quickstatus li.done .status {
      background-color: #555;
      color: #ccc; }
    .module.dnd.quickstatus li span {
      position: static;
      display: block;
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: transparent; }

.module.clock {
  width: 99.6%;
  height: 100%;
  text-align: center;
  padding: 18% 0 0;
  font-size: 8em;
  background: #454545; }
  .module.clock .hour, .module.clock .minute {
    border-radius: 0.2em;
    padding: 10%;
    color: #333;
    font-weight: bold;
    background: #e2e2e2;
    box-shadow: 0 0 16px #333;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); }

.module.sitetest {
  width: 99.6%;
  background-color: #5c5c5c;
  margin-bottom: 2px; }
  .module.sitetest ul li {
    font-size: 1.3em;
    padding: 3px 1em 3px 3px;
    float: left;
    display: block;
    background-color: #4a4a4a;
    margin: 5px; }
    .module.sitetest ul li.red {
      background-color: #ff0033; }
    .module.sitetest ul li img {
      vertical-align: middle;
      margin-right: 10px; }

.site-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  min-height: 100%;
  max-height: 100%;
  background-color: red;
  color: #fff;
  font-size: 7em;
  padding: 20%;
  text-align: center;
  box-sizing: border-box; }
  .site-alert .timer {
    display: block;
    font-size: 0.6em;
    margin-top: 1em; }

/* This is where all media queries are held */
/* The styles in this sheet are only visible when JS is enabled */
/* test */
